body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
}

.board{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.status{
    text-align: center;   
}